node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.DS_Store
*.log
uploads/*
!uploads/.gitkeep
CC/codes/*
!CC/codes/.gitkeep
CC/inputs/*
!CC/inputs/.gitkeep
CC/outputs/*
!CC/outputs/.gitkeep 